<html>
    <head>
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/ttaal.css">
    </head>
    <body>
        <header>
            <h1>Peter Smith</h1>
        </header>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="ttaal.html">TTAAL</a></li>
            </ul>
        </nav>
        <main>
            <h3>Three truths and a lie:</h3>
            <table>
                <tr class="truth">
                    <th>1st</th>
                    <td>I don't drink coffee</td>
                <tr class="lie">
                    <th>2nd</th>
                    <td>I'm divorced</td>
                </tr>
                <tr class="truth">
                    <th>3rd</th>
                    <td>I've never been to NYC</td>
                </tr>
                <tr class="truth">
                    <th>4th</th>
                    <td>I lived in India</td>
                </tr>
            </table>
        </main>
        <footer>
            <div>101121-JavaExt.</div>
        </footer>
    </body>
</html>